<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBh9EuItlGw5xMq80WxCOm03gBOktuHxE</string>
	<key>GCM_SENDER_ID</key>
	<string>993241151145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-codelab-firebase-3f2ad</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-codelab-firebase-3f2ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993241151145:ios:b946f67d7711b803c05bb8</string>
</dict>
</plist>